.video-tiley {
  left: 2px;
  width: 100% !important;
}

.video-info {
  color: #111111;
  width: 100%;
}

.video-preview-metadata-container {
  padding-top: 5px;
  font-size: 13px;
  color: #6e6e6e;
}

.channel-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.show-max-two-lines {
  overflow: hidden;
  line-height: 1.4em;
  max-height: 2.8em;
}

.semi-bold {
    font-weight: 600;
  }


.image-container {
  position: relative;
  width: 100%;
  padding:0;
}


.time-label {
  position: absolute;
  background: #111111;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  border-radius: 2px;
  font-weight: 500;
  color: white;
  margin: 4px;
  padding: 2px 4px;
  line-height: 12px;
}
